body{
  margin:0px;
  line-height: 1;
  background-color: #A9A9A9;
}
#mylogo{
  width: 420px;
  height: 420px;
  position: absolute;
  display: block;
}
#left{
  position:absolute;
  float:left;
  width: 512px;
  height: 500px;
}
#right{
  position: absolute;
  margin-left:510px;
  width: 512px;
  height: 500px;
}
/*loader */
#loader {
  position: absolute;
  display: block;
  background-color: white;
  width: 1366px;
  height: 650px;
}
#video_box {
  position:relative;
  size: cover;
}
#myDiv {
  display: none;
}
video { 
  -webkit-transform: scaleX(1); 
  -moz-transform: scaleX(1);
}

.progress-line, .progress-line:before {
  height: 3px;
  width: 100%;
  margin: 0;
}
.progress-line {
  background-color: #F44336;
  display: -webkit-flex;
  display: flex;
}
.progress-line:before {
  background-color: #FFFFFF;
  content: '';
  -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
@-webkit-keyframes running-progress {
  0% { margin-left: 0px; margin-right: 100%; }
  50% { margin-left: 25%; margin-right: 0%; }
  100% { margin-left: 100%; margin-right: 0; }
}
@keyframes running-progress {
  0% { margin-left: 0px; margin-right: 100%; }
  50% { margin-left: 25%; margin-right: 0%; }
  100% { margin-left: 100%; margin-right: 0; }
}




#name{
  margin-top: 100px;
  margin-left: 500px;
  position: absolute;
}

.thumb {
  width: 800px;
  height: 420px;
  top:100px;
  margin-left: 400px;
  perspective: 1000px;
  position: absolute ;
  z-index: 1; 
}
.thumb a {
  display: block;
  position:absolute;
  float:left;
  width: 800px;
  height: 420px;
  /*double layered BG for lighting effect*/
  background: 
    linear-gradient(rgba(0, 0, 0 ,0.4), rgba(0, 0, 0, 0.4)), 
    url("images/fpage.jpg");
  /*disabling the translucent black bg on the main image*/
  background-size: 0, cover;
  /*3d space for children*/
  transform-style: preserve-3d;
  transition: all 0.5s;
}
.thumb:hover a {transform: rotateX(80deg); transform-origin: bottom;}
/*bottom surface */
.thumb a:after {
  /*36px high element positioned at the bottom of the image*/
  content: ''; position: absolute; left: 0; bottom: 0; 
  width: 100%; height: 36px;
  /*inherit the main BG*/
  background: inherit; background-size: cover, cover;
  /*draw the BG bottom up*/
  background-position: bottom;
  /*rotate the surface 90deg on the bottom axis*/
  transform: rotateX(90deg); transform-origin: bottom;
}
/*label style*/
.thumb a span {
  color: white; text-transform: uppercase;
  position: absolute; top: 100%; left: 0; width: 100%;
  font: bold 12px/36px Montserrat; text-align: center;
  /*the rotation is a bit less than the bottom surface to avoid flickering*/
  transform: rotateX(-89.99deg); transform-origin: top;
  z-index: 1;
}
/*shadow*/
.thumb a:before {
  content: ''; position: absolute; top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
  transition: all 0.5s; 
  /*by default the shadow will be almost flat, very transparent, scaled down with a large blur*/
  opacity: 0.15;
  transform: rotateX(95deg) translateZ(-80px) scale(0.75);
  transform-origin: bottom;
}
.thumb:hover a:before {
  opacity: 1;
  /*blurred effect using box shadow as filter: blur is not supported in all browsers*/
  box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
  /*pushing the shadow down and scaling it down to size*/
  transform: rotateX(0) translateZ(-60px) scale(0.85);
}
