<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/loader.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/navbar.css">
	<link rel="stylesheet" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:500,800" rel="stylesheet">
	<script src="js/jquery-2.1.1.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/typed.js"></script>
	<script src="js/main.js"></script>
</head>

<body>
<!-- Loader with progress line and Loading video -->

<div class="preloader" id="loader" style="z-index:1999999999">
  <div class="progress-line"></div>
{{!--   	<div id="wrap_video">
      <div id="video_box" style="width:100%;height:100%;">
  			<video id="v0" tabindex="0" autoplay>
		      <source type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;" src="images/PARTICLE LOGO.mp4"></source>
		      <p>Sorry, your browser does not support the &lt;video&gt; element.</p>
  			</video>
      </div>
  	</div> --}}
  	<div id="load">
	  <div>G</div>
	  <div>N</div>
	  <div>I</div>
	  <div>D</div>
	  <div>A</div>
	  <div>O</div>
	  <div>L</div>
	</div>
</div>

<div class="fullscreen background parallax" style="background-image:url('images/back2.jpg');" data-img-width="1366" data-img-height="665" data-diff="100">
	<div class="content-a">
		<div id="name" class="center font-bold heading-big">
			<p id="iam">I'm </p>
			<p class="element"></p>
			<p class="typed-cursor"></p>
		</div>
        <nav class="menu scroll-smoother">
          <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
          <label class="menu-open-button" for="menu-open">
            <span class="hamburger hamburger-1"></span>
            <span class="hamburger hamburger-2"></span>
            <span class="hamburger hamburger-3"></span>
          </label>

          <a data-spy="scroll" href="#aboutme" class="menu-item"> <i class="fa fa-user-circle"></i> </a>
          <a data-spy="scroll" href="#skills" class="menu-item"> <i class="fa fa-plus"></i> </a>
          <a data-spy="scroll" href="#" class="menu-item"> <i class="fa fa-heart"></i> </a>
          <a data-spy="scroll" href="#" class="menu-item"> <i class="fa fa-envelope"></i> </a>

        </nav>
        <!-- filters -->
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
              <filter id="shadowed-goo">

                  <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
                  <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
                  <feGaussianBlur in="goo" stdDeviation="3" result="shadow" />
                  <feColorMatrix in="shadow" mode="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 -0.2" result="shadow" />
                  <feOffset in="shadow" dx="1" dy="1" result="shadow" />
                  <feComposite in2="shadow" in="goo" result="goo" />
                  <feComposite in2="goo" in="SourceGraphic" result="mix" />
              </filter>
              <filter id="goo">
                  <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
                  <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
                  <feComposite in2="goo" in="SourceGraphic" result="mix" />
              </filter>
            </defs>
        </svg>
		<div id="arrow" class="scroll-smoother text-center"><a data-spy="scroll" href="#aboutme"><i class="fa fa-chevron-down fa-3x" style="color:#FCCF0D"></i></a></div>
	</div>
	
</div>
<div class="horizontalrule"></div>
<div class="fullscreen background parallax row" id="aboutme" style="margin:0" data-img-width="683" data-img-height="665" data-diff="100">
	<div class="col-lg-6 col-md-6 col-sm-5 col-xs-12" style="padding: 0"><img src="images/me-in-bw-gold-td.jpg"></div>
	<div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
		<p class="heading-big font-bold text-center">about me</p>
		<p class="text-medium font-medium text-center">I'am a student pursuing my engineering in Computer Science at MVIT. I am a passionate coder and designer.</p>
		<div class="social-container"">
		    <ul class="social-icons">
		        <li><a target="_blank" href="https://www.linkedin.com/in/vishnu-dev"><i class="fa fa-linkedin"></i></a></li>
		        <li><a href="https://github.com/vishnu-dev"><i class="fa fa-github"></i></a></li>
		    	<li><a href="https://www.facebook.com/profile.php?id=100001034769882"><i class="fa fa-facebook"></i></a></li>
		        <li><a href="https://stackoverflow.com/users/5120049/vishnudev"><i class="fa fa-stack-overflow"></i></a></li>
		    </ul>
		</div>
	</div>
</div>
<div class="horizontalrule"></div>
<div class="fullscreen background parallax" id="skills" data-img-width="1366" data-img-height="665" data-diff="100">
    <div class="text-center" style="padding-top: 5%"><h1 class="heading-big font-bold">technical skills</h1></div>
    <div class="container" id="skill-section" style="padding-top: 5%">
        <div class="skillbar clearfix " data-percent="85%">
            <div class="skillbar-title" style="background: #d35400;"><span>C/C++</span></div>
            <div class="skillbar-bar" style="background: #e67e22;"></div>
            <div class="skill-bar-percent">85%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="90%">
            <div class="skillbar-title" style="background: #2980b9;"><span>HTML/CSS</span></div>
            <div class="skillbar-bar" style="background: #3498db;"></div>
            <div class="skill-bar-percent">90%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="90%">
            <div class="skillbar-title" style="background: #2c3e50;"><span>JavaScript</span></div>
            <div class="skillbar-bar" style="background: #2c3e50;"></div>
            <div class="skill-bar-percent">90%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="70%">
            <div class="skillbar-title" style="background: #46465e;"><span>MySQL/MongoDB</span></div>
            <div class="skillbar-bar" style="background: #5a68a5;"></div>
            <div class="skill-bar-percent">70%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="75%">
            <div class="skillbar-title" style="background: #333333;"><span>Wordpress</span></div>
            <div class="skillbar-bar" style="background: #525252;"></div>
            <div class="skill-bar-percent">75%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="70%">
            <div class="skillbar-title" style="background: #27ae60;"><span>Node.js</span></div>
            <div class="skillbar-bar" style="background: #2ecc71;"></div>
            <div class="skill-bar-percent">70%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="85%">
            <div class="skillbar-title" style="background: #124e8c;"><span>Photoshop</span></div>
            <div class="skillbar-bar" style="background: #4288d0;"></div>
            <div class="skill-bar-percent">85%</div>
        </div> <!-- End Skill Bar -->
    </div>
</div>
<script>
$(document).ready(function() {
$(".preloader").delay(10).fadeOut("slow");
});
$(".next").click(function() {
   $('html,body').animate({ scrollTop:$(this).parent().next().offset().top}, 'slow');
});
$(document).on('click', '.nav-link', function(event){
    event.preventDefault();
});
</script>
<script>

  document.addEventListener('DOMContentLoaded', function(){
      Typed.new('.element', {
        strings: ["a developer", "a designer", "Vishnu"],
        typeSpeed: 80,
				backDelay: 1000,
				loop:true
      });
  });

</script>
<script type="text/javascript">
/* detect touch */
if("ontouchstart" in window){
    document.documentElement.className = document.documentElement.className + " touch";
}
if(!$("html").hasClass("touch")){
    /* background fix */
    $(".parallax").css("background-attachment", "fixed");
}

/* fix vertical when not overflow
call fullscreenFix() if .fullscreen content changes */
function fullscreenFix(){
    var h = $('body').height();
    // set .fullscreen height
    $(".content-b").each(function(i){
        if($(this).innerHeight() > h){ $(this).closest(".fullscreen").addClass("overflow");
        }
    });
}
$(window).resize(fullscreenFix);
fullscreenFix();

/* resize background images */
function backgroundResize(){
    var windowH = $(window).height();
    $(".background").each(function(i){
        var path = $(this);
        // variables
        var contW = path.width();
        var contH = path.height();
        var imgW = path.attr("data-img-width");
        var imgH = path.attr("data-img-height");
        var ratio = imgW / imgH;
        // overflowing difference
        var diff = parseFloat(path.attr("data-diff"));
        diff = diff ? diff : 0;
        // remaining height to have fullscreen image only on parallax
        var remainingH = 0;
        if(path.hasClass("parallax") && !$("html").hasClass("touch")){
            var maxH = contH > windowH ? contH : windowH;
            remainingH = windowH - contH;
        }
        // set img values depending on cont
        imgH = contH + remainingH + diff;
        imgW = imgH * ratio;
        // fix when too large
        if(contW > imgW){
            imgW = contW;
            imgH = imgW / ratio;
        }
        //
        path.data("resized-imgW", imgW);
        path.data("resized-imgH", imgH);
        path.css("background-size", imgW + "px " + imgH + "px");
    });
}
$(window).resize(backgroundResize);
$(window).focus(backgroundResize);
backgroundResize();

/* set parallax background-position */
function parallaxPosition(e){
    var heightWindow = $(window).height();
    var topWindow = $(window).scrollTop();
    var bottomWindow = topWindow + heightWindow;
    var currentWindow = (topWindow + bottomWindow) / 2;
    $(".parallax").each(function(i){
        var path = $(this);
        var height = path.height();
        var top = path.offset().top;
        var bottom = top + height;
        // only when in range
        if(bottomWindow > top && topWindow < bottom){
            var imgW = path.data("resized-imgW");
            var imgH = path.data("resized-imgH");
            // min when image touch top of window
            var min = 0;
            // max when image touch bottom of window
            var max = - imgH + heightWindow;
            // overflow changes parallax
            var overflowH = height < heightWindow ? imgH - height : imgH - heightWindow; // fix height on overflow
            top = top - overflowH;
            bottom = bottom + overflowH;
            // value with linear interpolation
            var value = min + (max - min) * (currentWindow - top) / (bottom - top);
            // set background-position
            var orizontalPosition = path.attr("data-oriz-pos");
            orizontalPosition = orizontalPosition ? orizontalPosition : "50%";
            $(this).css("background-position", orizontalPosition + " " + value + "px");
        }
    });
}
if(!$("html").hasClass("touch")){
    $(window).resize(parallaxPosition);
    //$(window).focus(parallaxPosition);
    $(window).scroll(parallaxPosition);
    parallaxPosition();
}


</script>
<script>
    function isScrolledIntoView(elem)
    {
        var docViewTop = $(window).scrollTop();
        var docViewBottom = docViewTop + $(window).height();

        var elemTop = $(elem).offset().top;
        var elemBottom = elemTop + $(elem).height()/2;

        if((elemBottom <= docViewBottom) && (elemTop >= docViewTop)) {
            console.log("here");
            $('.skillbar').each(function(){
                $(this).find('.skillbar-bar').animate({
                    width:$(this).attr('data-percent')
                },3000);
            });
        }
    }
    window.setInterval(function(){
        isScrolledIntoView("#skill-section");
    }, 500);
</script>

</body>
</html>
